/*CSS for main page*/
body {
    height:100%;
    margin: 0 0 0 0;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

hr {
    width:100%; 
    color:black; 
    height:2px;
    margin:60px 0 20px;
}

ul {
    margin:0;
}

.header {
    display: flex;
    box-sizing:border-box;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    height: 100px;
    width: 100%;
    border-bottom: 2px dotted grey;
    padding:50px;
}

.textbox {
    font-size:20px;
    display:flex;
    flex-direction: column;
    margin: 20% auto 0;
    height:50%;
    width:30%;
    min-width: 500px;
    align-items: center;
    justify-content: center;
}

.logo {
    text-decoration: none;
    color:black;
    font-size:40px;
}

.links {
    list-style: none;
    display:flex;
    gap:10px;
}

/*CSS for incremental clicker game*/
#incremental {
    box-sizing: border-box;
    height:100%;
    text-align:center;
}

#incremental button {
    text-align:center;
    background-color:azure;
}

#incremental h1 {
    margin-top:30%;
}

#incremental #mainBox {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
    margin:0 auto;
    width:50%;
    background-color:darkslategrey;
    padding:50px;
    border-radius:100px;
}

#incremental #mainBox div {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#incremental #clickerBox {
    background-color:azure;
    padding:20% 50px;
    border-radius:50px;
    border:2px black solid;
}

#incremental #clickerBox h2, p {
    margin:0;
}

#incremental #incrementButton {
    margin-top:20px;
    font-size:30px;
    font-weight:900;
    border-radius:8px;
}

#incremental #shop {
    gap:30px;
}

#incremental #shop h2 {
    color:azure;
}

#incremental #shop button {
    width:100%;
    border-radius:8px;
}

